<div>
    <h2>Blog Posts</h2>
</div>
<p>hello all</p>
<div>
    {{#each allblogpost}}
    <h3>Title of the Post is: {{title}}</h3>
    <p>content is: {{content}}</p>
   {{/each}}



</div>

<script src="./js/blogs.js"></script>