<h3>please Login </h3>
<form action="" id="login-form">
    <input type="text" placeholder="email" id="login-email">
    <input type="password" id="login-password">
    <button>Login!</button>
</form>
<h3>Signup </h3>
<form action="" id="signup-form">
    <input type="text" placeholder="email" id="signup-email">
    <input type="text" placeholder="username" id="signup-username">
    <input type="password" id="signup-password">
    <button>Signup!</button>
</form>

<script src="/public/js/login.js"></script>
